html{
    background-color: #222831;
}

#welcomeMessage{
    position: absolute;
    background-color: #30475e;
    height: 30%;
    min-height: 225px;
    top: 40%;
    width: 10%;
    min-width: 100px;
    left: 45%;
    padding: 5px;
    text-align: center;
}

#mapscreen{
    /*width: 90%;
    height: 100%;*/
    float: left;
    position: absolute;
    /*zoom: 0.5; XXX use this*/
    /*background-image: url('projects/drggg/image.jpg');*/
}

#mainText{
    position: relative;
    height: 80%;
    resize: none;
}

#titleAndText{
    position: relative;
    top: 60px;
    visibility: hidden;
}

#noteTitle{
    
}


#rightbar{
    position: absolute;
    right: 0%;
    top: -5px;
    width: 200px;
    height: 101%;
    background-color: #30475e;
    display: block;
    visibility: hidden;
}
.tools{
    position: relative;
    z-index: 20;
}
#toptools{
    position: relative;
    top: 0%;
    height: 40px;
    background-color: #f2a365;
}
#bottools{
    position: relative;
    top: 90%;
    width: 90%;
    position: fixed;
    height: 50px;
    background-color: #ececec;
}
.marker{
    position: absolute;
}

.currentMarker{
    background-color: black;
}

body{
    overflow: hidden;
}

.editingMarker{
    background-color: #f2a365;
}

#sizeAdjustor input{
    width: 50px;
}