html{
    background-color: #222831;
}

#bgmaterial{
    position: absolute;
    /*left: -50%;/* this is something of a dirty hack, but it works */
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /*top: -50%;*/
}

#welcomeMessage{
    position: absolute;
    background-color: #30475e;
    height: 30%;
    min-height: 225px;
    top: 40%;
    width: 10%;
    min-width: 100px;
    left: 45%;
    padding: 5px;
    text-align: center;
}

button{
    border-color: #525a40;
    border-style: double;
    border-width: 5px;
    color: rgb(237, 248, 248);
    font-size: 16px;
    padding-left: 6px;
    background-color: #356d51;
}
button:focus{
    outline-style: ridge;
    outline-color: #aec6e6;
    outline-width: 2px;
}

#icons{
    z-index: 6;
}

#mapscreen{
    /*width: 90%;
    height: 100%;*/
    float: left;
    position: absolute;/*XXX as either -10 or 3 it doesnt work in diff ways
    actually it is about which of #mapscreen or #bgmaterial is more front */
    /*background-image: url('projects/drggg/image.jpg');*/
}

#mapimg{
    width: 100%;
    height: 100%;
    z-index: -11;
}

#mainText{
    resize: none;
    position: fixed;
    top:10px;
    height: calc(100vh - 300px);/*XXX this solution is bad but works well*/
    resize: none;
}

#mapmarkers{
    width: 100%;
    left: 100%;
    left: 0%;
    top: 0%;
    z-index: 2;
}

#markertools{
    visibility: hidden;
    display: block;
    position: relative;
    top: 60px;
}

#titleandtext{
    padding: 5px;
    width: 90%;
    left: 5%;
    top: 80px;
    display: block;
}
#titleninp{
    display: block;
}
#noteTitle{
    display: inline;
    padding: 6px;
    color: rgb(243, 198, 76);
    font-size: larger;
    font-style: italic;
    text-shadow: 2px 2px rgb(17, 3, 54);
}
#titleText{
    width: 65%;
}

#rightbar{
    position: absolute;
    right: 0%;
    top: -2px;
    width: 350px;
    height: 101%;
    background-color: #30475e;
    display: block;
    visibility: hidden;
    z-index: 4;
}
#rightbar *{
    position: relative;
}

#toptools{
    height: 40px;
    /*background-color: #f2a365;*/
}
#bottools{
    width: 90%;
    left: 5%;
    height: 30px;
    bottom: -20px;
    /*background-color: #ececec;*/
}

#bothold{
    height: 30px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.marker{
    position: absolute;
}

body{
    overflow: hidden;
}

.editingMarker{
    background-color: #f2a365;
}

#sizeAdjustor{
    padding: 3px;
    position: relative;
    width: 50px;
    display: inline;
    z-index: 5;
    left: 5%;
}

#sizeAdjustor *{
    padding: 5px;
    display: inline;
}

#iconResizeInput{
    width: 15%;
    height: 12px;
    padding-left: 0px;
}

#togglebuttons{
    margin: 12px;
    border: 12px;
    font-size: 0px;/*because stupid buttons wont touch*/
    display: block;
    
    width: 66%;
    left: 22%;
}
#togglebuttons button{
    outline: none;
    font-size: 20px;
    height: 40px;
    border: none;
    margin-left: 0px;
    margin-right: 1px;
    padding: 7px;
}
.view, .add, .edit{
    background-color: #4c375c;
    color: #887c53;
}

.currentmousemode{
    background-color: #497c49;
    color: #f2a365;
    text-shadow: 0 0 5px #462647, 0 0 5px #462647
}

#icons{
    position: relative;
    padding: 8px;
    width: 90%;
    left: 5%;
}

#icons img{
    padding: 3px;
    border-radius: 50%;
}

.currentMarker{
    background-color: #f2a365;
}

*::selection{
    background: none;
}
input::selection{
    background: #d3c0eb;
}
textarea::selection{
    background: #d3c0eb;
}

@keyframes save{
    from{opacity: 100%;background-color: #c2c5bf;}
    to{opacity: 0%;background-color: #30475e;}
}

#saveel{
    position: absolute;
    right: 10px;
    width: 100px;
    bottom: 10px;
    height: 40px;
    z-index: 20;
    text-align: center;
    font-size: 25px;
    padding-top: 8px;
    border-radius: 15%;
    opacity: 0%;
    cursor: default;
}

.savenow{
    animation-name: save;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}